<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()"> <!-- [formGroup] to use my formgroup-->

        <div formGroupName="userData"> <!-- to set in what formgroup it's our controls-->
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              formControlName="username" 
              class="form-control"> <!-- formControlName: to tell angular whats the name of this input in my typescript form -->
              <span *ngIf="!signupForm.get('userData.username').valid && signupForm.get('userData.username').touched" class="help-block">Please enter a valid username!</span> <!-- we access the control with signupForm.get('username') -->
            </div>
          <div class="form-group">
            <label for="email">email</label>
            <input
              type="text"
              id="email"
              formControlName="email" 
              class="form-control">
              <span *ngIf="!signupForm.get('userData.email').valid && signupForm.get('userData.email').touched" class="help-block">Please enter an email!</span>
          </div>
        </div>
        
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input
              type="radio"
              formControlName="gender" 
              [value]="gender">{{ gender }}
          </label>
        </div>
        <div formArrayName="hobbies"> <!-- synchronizing the formArray -->
          <h4>Your hobbies: </h4>
          <button class="btn btn-default" type="button" (click)="onAddHobby()">Add hobby</button>
          <div class="form-group" *ngFor="let hobbyControl of signupForm.get('hobbies').controls; let i = index">
            <input type="text" [formControlName]="i" class="form-control" > <!-- i to pass that index to typescript -->
          </div>
        </div>
        <span *ngIf="!signupForm.valid && signupForm.touched" class="help-block">Please enter a valid data!</span>
        <button class="btn btn-primary" type="submit">Submit</button>

      </form>
    </div>
  </div>
</div>
